html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

div {
  border-radius: 5px;
}

img.conceptDesign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(0.5);
}

div.mainFrame {
  position: absolute;
  top: 0;
  left: 0;
  /* inset: 1%; */
  width: 100%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  display: grid;
  grid:
    "title projectShowcase projectShowcase projectShowcase projectShowcase projectShowcase"
    "timelineBelt projectShowcase projectShowcase projectShowcase projectShowcase projectShowcase"
    "timelineBelt projectShowcase projectShowcase projectShowcase projectShowcase projectShowcase"
    "timelineBelt projectShowcase projectShowcase projectShowcase projectShowcase projectShowcase";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-radius: 10px;
  /* border: 4px solid #000; */
}

div.mainFrame > div {
  z-index: 2;
}

div.mainFrame > div.mailboxSlot,
div.mainFrame > div.projectShowcase {
  z-index: 0;
}

/* div.mainFrame > div.baffle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
} */

div.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.5);
}

span.title {
  padding: 5px;
  font-size: xxx-large;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #900;
}

div.mailboxSlot {
  grid-area: mailboxSlot;
  /* padding: 1%; */
  background-color: rgba(0, 255, 0, 0.5);
}

img.mailboxSlot {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.mailboxSlot > canvas {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

div.timelineBelt {
  grid-area: timelineBelt;
  /* background-color: rgba(128, 128, 128); */
  /* background-color: #f00; */
  /* background-color: #000; */
  background-color: #ddd;
  position: relative;
}

div.timelineBelt > canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

div.timelineBelt > ul {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

div.timelineBelt > ul:has(li:hover) ~ canvas.timelineBelt {
  filter: blur(2px);
  transition: all 0.5s ease-out;
}

ul > li[data-date] {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 5px;
  height: 5px;
  background-color: #900;
  cursor: pointer;
  pointer-events: all;
  z-index: 1;
}

li[data-date] > span {
  position: absolute;
  top: 0;
  left: 0;
  font-family: fantasy;
  font-size: 6rem;
  width: 203px;
  height: 107px;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.1),
    2px 2px 0.5px rgba(0, 0, 0, 0.08), 3px 3px 0.5px rgba(0, 0, 0, 0.06),
    4px 4px 0.5px rgba(0, 0, 0, 0.04), 5px 5px 0.5px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(2px);
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

li[data-date] > span:hover {
  /* color: rgba(255, 255, 255, 0.6); */
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1), 2px 2px 0px rgba(0, 0, 0, 0.08),
    3px 3px 0px rgba(0, 0, 0, 0.06), 4px 4px 0px rgba(0, 0, 0, 0.04),
    5px 5px 0px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(0px);
  /* background-color: rgba(255, 255, 255, 0.75); */
  /* border: 4px double rgba(0, 0, 0, 0.2); */
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.15),
    /* 内部阴影 */ inset -2px -2px 4px rgba(255, 255, 255, 0.15),
    /* 内部高光 */ 0 0 80px rgba(255, 255, 255, 0.75);
  border: 10px solid #fff;
  /* box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3); */
}

li[data-date="2017"] > span {
  background-color: rgba(255, 0, 0, 0.05); /* 红 */
}
li[data-date="2017"] > span:hover {
  color: rgba(255, 153, 153, 0.75);
  background-color: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 153, 153, 0.65);
}

li[data-date="2018"] > span {
  background-color: rgba(255, 127, 0, 0.05); /* 橙 */
}
li[data-date="2018"] > span:hover {
  color: rgba(255, 204, 153, 0.75);
  background-color: rgba(255, 127, 0, 0.2);
  border-color: rgba(255, 204, 153, 0.65);
}

li[data-date="2019"] > span {
  background-color: rgba(255, 255, 0, 0.05); /* 黄 */
}
li[data-date="2019"] > span:hover {
  color: rgba(255, 255, 153, 0.75);
  background-color: rgba(255, 255, 0, 0.2);
  border-color: rgba(255, 255, 153, 0.65);
}

li[data-date="2020"] > span {
  background-color: rgba(0, 255, 0, 0.05); /* 绿 */
}
li[data-date="2020"] > span:hover {
  color: rgba(153, 255, 153, 0.75);
  background-color: rgba(0, 255, 0, 0.2);
  border-color: rgba(153, 255, 153, 0.65);
}

li[data-date="2021"] > span {
  background-color: rgba(0, 255, 255, 0.05); /* 青 */
}
li[data-date="2021"] > span:hover {
  color: rgba(153, 255, 255, 0.75);
  background-color: rgba(0, 255, 255, 0.2);
  border-color: rgba(153, 255, 255, 0.65);
}

li[data-date="2022"] > span {
  background-color: rgba(0, 127, 255, 0.05); /* 蓝 */
}
li[data-date="2022"] > span:hover {
  color: rgba(153, 204, 255, 0.75);
  background-color: rgba(0, 127, 255, 0.2);
  border-color: rgba(153, 204, 255, 0.65);
}

li[data-date="2023"] > span {
  background-color: rgba(139, 0, 255, 0.05); /* 靛紫 */
}
li[data-date="2023"] > span:hover {
  color: rgba(203, 153, 255, 0.75);
  background-color: rgba(139, 0, 255, 0.2);
  border-color: rgba(203, 153, 255, 0.65);
}

li[data-date="2024"] > span {
  background-color: rgba(255, 0, 255, 0.05); /* 紫红 */
}
li[data-date="2024"] > span:hover {
  color: rgba(255, 153, 255, 0.75);
  background-color: rgba(255, 0, 255, 0.2);
  border-color: rgba(255, 153, 255, 0.65);
}

li[data-date="2025"] > span {
  background-color: rgba(255, 20, 147, 0.05); /* 桃红 */
}
li[data-date="2025"] > span:hover {
  color: rgba(255, 161, 221, 0.75);
  background-color: rgba(255, 20, 147, 0.2);
  border-color: rgba(255, 161, 221, 0.65);
}

div.projectShowcase {
  position: relative;
  padding: 1%;
  grid-area: projectShowcase;
  background-color: rgba(255, 255, 0, 0.5);
  background-color: #ddd;
}

div.projectShowcase > div.iframe-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 78%;
  height: 96%;
  transform-origin: 0 50%;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease-out, filter 0.5s ease-out, left 0.2s ease-out;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(2) {
  z-index: 1;
  left: 20%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(3) {
  z-index: 2;
  left: 18%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(4) {
  z-index: 3;
  left: 16%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(5) {
  z-index: 4;
  left: 14%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(6) {
  z-index: 5;
  left: 12%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(7) {
  z-index: 6;
  left: 10%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(8) {
  z-index: 7;
  left: 8%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(9) {
  z-index: 8;
  left: 6%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(10) {
  z-index: 9;
  left: 4%;
}

div.projectShowcase.active > .iframe-wrapper.active:nth-of-type(11) {
  z-index: 10;
  left: 2%;
}

div.projectShowcase.active > .iframe-wrapper.active > iframe {
  display: initial;
  z-index: 1;
}

div.projectShowcase.active > .iframe-wrapper.active > .iframe-mask {
  z-index: 0;
}

div.projectShowcase.active > div.iframe-wrapper.active:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 80px rgba(255, 255, 255, 0.75);
  z-index: 20;
}

/* Optional hover effect */
div.projectShowcase.active
  > div.iframe-wrapper.active:hover
  ~ .iframe-wrapper.active {
  z-index: 19;
  transform: scale(1) rotateZ(-3deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 18;
  transform: scale(1) rotateZ(-6deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 17;
  transform: scale(1) rotateZ(-9deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 16;
  transform: scale(1) rotateZ(-12deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 15;
  transform: scale(1) rotateZ(-15deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 14;
  transform: scale(1) rotateZ(-18deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 13;
  transform: scale(1) rotateZ(-21deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 12;
  transform: scale(1) rotateZ(-24deg) !important;
}

div.projectShowcase.active
  > .iframe-wrapper.active:hover
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  z-index: 11;
  transform: scale(1) rotateZ(-27deg) !important;
}

div.iframe-wrapper > iframe {
  border-radius: 5px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
  width: 100%;
  height: 100%;
  transform: scale(0.95);
  border: 2px double #000;
  box-sizing: border-box;
  opacity: 1;
  display: none;
  z-index: 0;
  background: #fff;
  /* outline: 8px ridge rgb(170 50 220 / 0.6); */
  border-radius: 50px;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

div.iframe-wrapper > iframe.mobile {
  width: calc(100vh / 16 * 9);
}

div.iframe-wrapper > div.iframe-mask {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-out;
  backdrop-filter: blur(2px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
  cursor: pointer;
}

div.projectShowcase.active > div.hotzone {
  z-index: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  clip-path: initial;
  /* background-color: #f00; */
}

div.projectShowcase:not(.active) > div.iframe-wrapper {
  transform: scale(0.4) rotateZ(12deg);
  /* left: 10%; */
}

div.projectShowcase:not(.active) > .iframe-wrapper ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(9deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(6deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(3deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(0deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(-3deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(-6deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(-9deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(-12deg);
}

div.projectShowcase:not(.active)
  > .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper
  ~ .iframe-wrapper {
  transform: scale(0.4) rotateZ(-15deg);
}

/* div.projectShowcase.active > .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active > .iframe-wrapper.active ~ .iframe-wrapper {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
}

div.projectShowcase.active
  > .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active
  ~ .iframe-wrapper.active {
  transform: scale(1);
} */

div.iframe-wrapper.active > iframe {
  display: initial;
}

div.iframe-wrapper > div.iframe-mask {
  visibility: initial;
  width: 100%;
  transform: scale(0.95);
  z-index: 1;
  opacity: 1;
  /* filter: blur(4px); */
  /* border-radius: 50px; */
  aspect-ratio: 3 / 2;
}

/* div.projectShowcase.active > .iframe-wrapper > .iframe-mask {
  transform: scale(0.9);
} */

.iframe-wrapper {
  container: card / size;
}

@container card (aspect-ratio > 1) {
  div.iframe-wrapper:not(.active) > div.iframe-mask {
    background: url("./screenshot/playingcards_horizontal.svg") center center /
      contain no-repeat;
  }
}

@container card (aspect-ratio < 1) {
  div.iframe-wrapper:not(.active) > div.iframe-mask {
    background: url("./screenshot/playingcards.svg") center center / contain
      no-repeat;
  }
}
